form {
   padding: 1rem;
   background-color: gray;
   display: flex;
   flex-flow: column nowrap;
   display: flex;
   gap: 1rem;
}

label {
   display: flex;
   flex-flow: column nowrap;
}

input {
   padding: .5rem;
}