main {
   flex: 1;
   align-self: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   width: 100%;
   background-color: white;
   height: 100vh;
   box-shadow: 0 0 5px black;
   border-radius: .5rem;
   font-family: sans-serif;
}

.container {
   background-color: #e6e6e6;
   padding: 1rem;
}

.active-chat {
   border-left: .5rem solid #eb172c;
}

.connectionsList {
   border-right: 1px solid #969696;
   height: 100%;
   text-align: center;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-flow: column nowrap;
   width: 30%;
   background-color: #9fbbf4;
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;

   & > li {
      cursor: pointer;
      border-bottom: 1px solid #969696;
      padding: none;
      width: 100%;
      padding: .5rem;
      font-size: 1.2rem;
      font-weight: 600;
   }

   & > li:first-of-type {
      border-top-left-radius: .5rem;
   }
}

h2 {
   border-bottom: 2px solid #969696;
   padding: .5rem 0;
}


.chat {
   height: 100%;
   width: 70%;
   display: flex;
   flex-flow: column nowrap;
   padding-left: 1rem;
}

.chat > ul {
   display: flex;
   padding: .5rem 0;   
   flex-flow: column nowrap;
   flex: 1;
   gap: .2rem;
   overflow-y: auto;
}

li {
   width: 100%;
   display: flex;
   p {
      border-radius: .5rem;
      padding: .3rem;
      background-color: #cbcbcb;
   }
}

.chat > div {
   align-self: flex-end;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   width: 100%;
   border-top: 2px solid #969696;
   padding: .25rem;
   position: relative;
   flex-flow: row nowrap;
}

textarea, button {
   padding: .5rem;
}

textarea {
   width: 100%;
   border: 0;
   word-break: keep-all;
   overflow-y: auto;
   outline: none;
   resize: none;
   background-color: #e6e6e6;
   border-radius: .5rem;
}

button {
   background-color: #0073b1;
   font-size: .7rem;
   font-weight: 700;
   height: 2rem;
   width: 3rem;
   padding: 0;
   border-radius: 50%;
}

.foto-preview {
   width: 100px;
   height: 100px;
   // background-image: url(https://blog.angular-university.io/content/images/2020/12/main-page-logo-small-hat.png);
   background-repeat: no-repeat;
   background-size: contain;
}

.file {
   width: 100px;
   object-fit: cover;
   height: 100px;
   padding: .25rem .25rem 1rem .25rem;
   border-radius: .25rem;
   background-color: #cbcbcb;

   &:hover {
      box-shadow: 0 0 2px black;
   }
}

image {
   width: 400px;
   height: 400px;
}

input[type*="file"] {
   background-color: #0073b1;
   border-radius: .5rem;
   font-size: .7rem;
   font-weight: 700;
   height: 3rem;
   width: 3rem;
   border: none;
}