<div class="container">


   <main>

      <ul class="connectionsList" *ngIf="connections[0]">
         <li 
            *ngFor="let connection of connections"
            (click)="selectNewConnection(connection.id, $event)"
            >
            {{ connection.name }}
         </li>
      </ul>


      <div class="chat">
         <h2 *ngIf="currentConnection">{{ currentConnection.name }}</h2>
         <ul>
            <li *ngFor="let message of currentConnection.messages">
               <p class="to">{{ message }}</p>
            </li>
         </ul>

         <div>
            <textarea [formControl]="inputControl" placeholder="Escreva uma mensagem" type="text" name="" id="">
            </textarea>
            <button (click)="emitMessage()">ENVIAR</button>
         </div>
      </div>


   </main>


   
</div>