main {
   flex: 1;
   align-self: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   max-width: 30rem;
   width: 100%;
   background-color: white;
   height: 30rem;
   border-radius: .5rem;
   font-family: sans-serif;
}

.container {
   background-color: #e6e6e6;
}

.active-chat {
   border-left: .5rem solid #0073b1;
}

.connectionsList {
   border-right: 1px solid #cbcbcb;
   height: 100%;
   text-align: center;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-flow: column nowrap;
   width: 30%;

   & > li {
      cursor: pointer;
      border-bottom: 1px solid #cbcbcb;
      padding: none;
      width: 100%;
      padding: .5rem;
   }
}


.chat {
   height: 100%;
   width: 70%;
   display: flex;
   flex-flow: column nowrap;
}

.chat > ul {
   display: flex;
   padding: .5rem;   
   flex-flow: column nowrap;
   flex: 1;
   gap: .2rem;
}

li {
   width: 100%;
   display: flex;
   p {
      border-radius: .5rem;
      padding: .3rem;
   }
}

.chat > div {
   align-self: flex-end;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   width: 100%;
   border-top: 2px solid black;
   padding: .25rem;
   position: relative;
   height: 7rem;
}

textarea, button {
   padding: .5rem;
}

textarea {
   margin-bottom: 2.5rem;
   width: 100%;
   border: 0;
   word-break: keep-all;
   overflow-y: auto;
   outline: none;
   resize: none;
}

button {
   background-color: #0073b1;
   border-radius: .5rem;
   position: absolute;
   bottom: .25rem;
   right: .25rem;
   font-size: .7rem;
   font-weight: 700;
}


.to, .from {
   background-color: #e6e6e6;
}

.from {

}