<div class="container">


   <main>

      <ul class="connectionsList" *ngIf="connections">
         <li 
            *ngFor="let connection of connections"
            (click)="selectNewConnection(connection.id)"
            >
            {{ connection.name }}
         </li>
      </ul>


      <div class="chat">
         <h2 *ngIf="currentConnection">{{ currentConnection.name }}</h2>
         <ul>
            <li *ngFor="let message of currentConnection.messages">
               <p>{{ message }}</p>
            </li>
         </ul>

         <div>
            <input [formControl]="inputControl" type="text" name="" id="">
            <button (click)="emitMessage()">ENVIAR</button>
         </div>
      </div>


   </main>


   
</div>